<a href="https://colab.research.google.com/github/S0ul19/Optativa_Prof_UAA/blob/main/Operaciones_Basicas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import dumpy as np

# Crear un DataFrame
df = pd.DataFrame({
    'Nombre':['Ana','Juan','Maria','Carlos','Sofia'],
    'Edad':[25,30,22,28,35],
    'Ciudad':['Madrid','Barcelona','Madrid','Valencia','Barcelona'],
    'Puntuacion':[85,92,78,95,88]
})

print("DataFrame Original")
print(df)

Filtrado

In [ ]:
mayores_25 = df[df['Edad'] > 25]
print("\nPersonas mayores de 25 años:")
print(mayores_25)

Agrupacion y Agregacion

In [1]:
resultado = df.(df['Edad'])

NameError: name 'df' is not defined

Filtrado y agregacion combinados