<a href="https://colab.research.google.com/github/S0ul19/Optativa_Prof_UAA/blob/main/Untitled2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

df = pd.DataFrame({
    'A':[1,2,3,4],
    'B':pd.Timestamp('20130102'),
    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
    'D':np.array([3]*4,dtype='int32'),
    'E':pd.Categorical(['test','train','test','train']),
    'F':'foo'
})

print("DataFrame Original")
print(df)

Eliminar Valores Nulos

In [1]:
import pandas as pd
import numpy as np

df_clean = pd.DataFrame({
    'A':[1,2,3,4],
    'B':pd.Timestamp('20130102'),
    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
    'D':np.array([3]*4,dtype='int32'),
    'E':pd.Categorical(['test','train','test','train']),
    'F':'foo'
})

df_clean = df_clean.dropna()

print("DataFrame sin filas nulas")
print(df_clean)

DataFrame sin filas nulas
   A          B    C  D      E    F
0  1 2013-01-02  1.0  3   test  foo
1  2 2013-01-02  1.0  3  train  foo
2  3 2013-01-02  1.0  3   test  foo
3  4 2013-01-02  1.0  3  train  foo

Rellenar valores nulos

In [4]:
import pandas as pd
import numpy as np

df_filled = pd.DataFrame({
    'A':[1,2,3,4]
    'B':pd.Timestamp('20130102'),
    'C':pd.Series(1,index=list(range(4)),dtype='float32'),
    'D':np.array([3]*4,dtype='int32'),
    'E':pd.Categorical(['test','train','test','train']),
    'F':'foo'
})

df_filled = df_filled(value=('A': df['A'].mean(), 'B': df['B'].median()))

print("DataFrame con valores nulos rellenados")
print(df_filled)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (<ipython-input-4-d8b62891b253>, line 5)